html {
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #00539f;
  img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
  body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
  h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

  h3 {
  font-size: 20px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
}