html {
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #00539f;
  h1 {
  font-size: 40px;
  text-align: center;
}

  h3 {
  font-size: 20px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
}